# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_key import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
file_to_load = "../output_data/cities.csv"

cities_data = pd.read_csv(file_to_load)
cities_data

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Date
0,qaanaaq,GL,77.4840,-69.3632,-25.85,71,0,7.67,1644595939
1,east london,ZA,-33.0153,27.9116,76.01,73,74,7.05,1644595939
2,new norfolk,AU,-42.7826,147.0587,51.71,61,0,2.42,1644595940
3,snezhnogorsk,RU,69.1933,33.2531,22.78,98,77,11.25,1644595940
4,rikitea,PF,-23.1203,-134.9692,79.00,72,2,18.57,1644595940
...,...,...,...,...,...,...,...,...,...
557,usinsk,RU,65.9939,57.5281,13.64,84,100,17.52,1644596096
558,santa ana,US,33.7456,-117.8678,75.15,42,0,3.44,1644596036
559,santa maria,BR,-29.6842,-53.8069,94.42,29,47,2.82,1644596097
560,kuusamo,FI,65.9667,29.1833,15.84,86,40,6.91,1644596097
561,goundam,ML,16.4145,-3.6708,85.46,8,1,12.41,1644596097

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key=g_key)

In [5]:
location = cities_data[["Lat", "Lng"]]
humid = cities_data["Humidity"]
fig = gmaps.figure()

# figure_layout = {
#     'width': '400px',
#     'height': '300px',
#     'border': '1px solid black',
#     'padding': '1px',
#     'margin': '0 auto 0 auto'
# }
# fig = gmaps.figure(layout=figure_layout)

# Create heat layer
heat_layer = gmaps.heatmap_layer(location, weights=humid, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=2)
# Add layer
fig.add_layer(heat_layer)
#plt.savefig("../output_data/lat_vs_wind_speed.png")
# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [7]:
criteria_df1 = cities_data.loc[cities_data["Max Temp"] >74, :]
criteria_df2 = criteria_df1.loc[criteria_df1["Max Temp"] <80, :]
criteria_df3 = criteria_df2.loc[criteria_df2["Wind Speed"] <10, :]
criteria_df4 = criteria_df3.loc[criteria_df3["Cloudiness"] ==0, :]
criteria_df5 = criteria_df4.loc[criteria_df4["Humidity"] >20, :]
criteria_df5

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Date
77,bredasdorp,ZA,-34.5322,20.0403,75.27,58,0,9.66,1644595961
81,castro,BR,-24.7911,-50.0119,78.12,46,0,5.21,1644595962
426,port hueneme,US,34.1478,-119.1951,74.95,33,0,9.22,1644596058
458,lima,PE,-12.0432,-77.0282,76.39,78,0,4.61,1644595876
547,la palma,US,33.8464,-118.0467,75.42,51,0,1.01,1644596094
558,santa ana,US,33.7456,-117.8678,75.15,42,0,3.44,1644596036

In [8]:
loc= criteria_df5[['Lat','Lng']]
loc

         Lat       Lng
77  -34.5322   20.0403
81  -24.7911  -50.0119
426  34.1478 -119.1951
458 -12.0432  -77.0282
547  33.8464 -118.0467
558  33.7456 -117.8678

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [11]:
hotel_df=criteria_df5

In [12]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {  
    "location": '-34.5322,20.0403',
    "radius": 5000,
    "type": "Hotel",
    "keyword": "Hotel",
    "key": g_key,
}  
hotel_ad1= requests.get(base_url, params=params)    
hotel_ad1= hotel_ad1.json()
loc1= hotel_ad1['results'][0]['name']
loc1

'Victoria Hotel - Bredasdorp'

In [13]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {  
    "location": '-24.7911,-50.0119',
    "radius": 5000,
    "type": "hotel",
    "keyword": "Hotel",
    "key": g_key,
}
    
hotel_ad2= requests.get(base_url, params=params)    
hotel_ad2= hotel_ad2.json()
loc2 = hotel_ad2['results'][0]['name']
loc2

'Central Palace Hotel'

In [14]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {  
    "location": '34.1478,-119.1951',
    "radius": 5000,
    "type": "hotel",
    "keyword": "Hotel",
    "key": g_key,
}
hotel_ad3= requests.get(base_url, params=params)    
hotel_ad3= hotel_ad3.json()
loc3 = hotel_ad3['results'][0]['name']
loc3

'Holiday Inn Express Port Hueneme, an IHG Hotel'

In [15]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {  
    "location": '-12.0432,-77.0282',
    "radius": 5000,
    "type": "hotel",
    "keyword": "Hotel",
    "key": g_key,
}
hotel_ad4= requests.get(base_url, params=params)    
hotel_ad4= hotel_ad4.json()
loc4 = hotel_ad4['results'][0]['name']
loc4

'Sheraton Lima Hotel & Convention Center'

In [16]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {  
    "location": '33.8464,-118.0467',
    "radius": 5000,
    "type": "hotel",
    "keyword": "Hotel",
    "key": g_key,
}
hotel_ad5= requests.get(base_url, params=params)    
hotel_ad5= hotel_ad5.json()
loc5 = hotel_ad5['results'][0]['name']
loc5

'Days Inn by Wyndham Buena Park'

In [17]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {  
    "location": '33.7456,-117.8678',
    "radius": 5000,
    "type": "hotel",
    "keyword": "Hotel",
    "key": g_key,
}    
hotel_ad6= requests.get(base_url, params=params)    
hotel_ad6= hotel_ad6.json()
loc6 = hotel_ad6['results'][0]['name']
loc6

'Comfort Inn & Suites Orange County John Wayne Airport'

In [18]:
hotels= [loc1,loc2,loc3,loc4,loc5,loc6]
hotel_names= []
for hotel in hotels:
    hotel_names.append(hotel)
hotel_names

['Victoria Hotel - Bredasdorp',
 'Central Palace Hotel',
 'Holiday Inn Express Port Hueneme, an IHG Hotel',
 'Sheraton Lima Hotel & Convention Center',
 'Days Inn by Wyndham Buena Park',
 'Comfort Inn & Suites Orange County John Wayne Airport']

In [19]:
hotel_df["Hotel Name"]= hotel_names
hotel_df

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Date,Hotel Name
77,bredasdorp,ZA,-34.5322,20.0403,75.27,58,0,9.66,1644595961,Victoria Hotel - Bredasdorp
81,castro,BR,-24.7911,-50.0119,78.12,46,0,5.21,1644595962,Central Palace Hotel
426,port hueneme,US,34.1478,-119.1951,74.95,33,0,9.22,1644596058,"Holiday Inn Express Port Hueneme, an IHG Hotel"
458,lima,PE,-12.0432,-77.0282,76.39,78,0,4.61,1644595876,Sheraton Lima Hotel & Convention Center
547,la palma,US,33.8464,-118.0467,75.42,51,0,1.01,1644596094,Days Inn by Wyndham Buena Park
558,santa ana,US,33.7456,-117.8678,75.15,42,0,3.44,1644596036,Comfort Inn & Suites Orange County John Wayne ...

In [20]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [21]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
# Add the layer to the map
fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))